@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Shared Styles8*/
.display-flex{
    display: flex;
}
.text-dark2{
    color:#424242;
}
.text-dark3{
    color:#727272;
}
.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}
.btn-primary{
    background-color: #FF900E;
    color: white;
    padding: 15px 20px;
    font-size: 1em;
    font-weight: 600;
    border-radius: 8px;
    max-width: 180px;

}

main{
    max-width: 1100px;
    margin: 0 auto;
    
}
.img-size{
    width: 200px;                    
}
main > section{
    margin-top: 100px;
}


/*Navbar Styles*/
.navbar{
   justify-content: space-between; 
   align-items: center;
}
.nav-item{
   list-style: none;
   margin-right: 30px;
}
.nav-link{
    text-decoration: none;
    font-weight: 500;
}
.navbar, .banner{
    max-width: 1140px;
    margin: 0 auto;
}
.brand{
    font-weight: 700;
    font-size: 2.2rem;
}
/*Banner style*/
.banner-content{
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 40px;
} 
.banner-title{
    font-weight: 700;
    font-size: 3.2em;
}
.banner-img{
    width: 100%;
}  

/* Team style*/
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 15px;
}
.our-features{
    display: flex;
    margin-left: 100px;
    max-width: 450px;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
}
#quick-list{
    font-weight: 500;
    font-size: 2.2em;

}
#of-our{
    color:rgb(19, 19, 19);
    font-weight: 700;
    font-size: 2.2em;
}
#feauture{
    color: rgb(255, 144, 14);
    font-weight: 700;
    font-size: 2.2em;
}
.feauture-description{
color: rgb(114, 114, 114);
font-family: Work Sans;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: left;
}

/*Responsive*/
@media screen and (max-width:625px) {
    .navbar, .nav-links,.teams{
        flex-direction: column;
    }
    .team-img-container{
        grid-template-columns: repeat(1,1fr);
        
    }
    .img-size{
        width: 100%;
    }
    .our-features{
        margin-left: 10px;
    }
}
